<h2>Votre repas personnel au budget optimisé est préparé et prêt à être visualisé !</h2>
<h2>Voulez-vous le recevoir par e-mail ?</h2>
<h2>Entrez-le ci-dessous:</h2>
<form [formGroup]="emailFormGroup">
  <mat-form-field appearance="fill">
    <mat-label>Votre e-mail</mat-label>
    <input formControlName="email" matInput placeholder="Email" required>
  </mat-form-field>
</form>
<button [disabled]="emailFormGroup.invalid" mat-raised-button color="primary" (click)="onButtonClick()">Enregistrer</button>
<h2>... mais si vous voulez continuer sur votre profil</h2>
<h2>pour voir votre plan personnel, cliquez sur le bouton ci-dessous !</h2>
<button mat-raised-button color="primary" (click)="onProfileButtonClick()">Vers votre profil</button>
