<mat-radio-group [disabled]="isRadioGroupDisabled" class="radio-group" (change)="onPlanChange($event)" aria-label="Select an option">
  <mat-radio-button value="weekly">Plan de la semaine</mat-radio-button>
  <mat-radio-button value="monthly">Plan mensuel</mat-radio-button>
  <mat-radio-button value="yearly">Forfait annuel</mat-radio-button>
  <mat-radio-button value="eternal">Projet éternel</mat-radio-button>
</mat-radio-group>

<button mat-raised-button color="primary" [disabled]="isButtonDisabled" (click)="onPlanChoose()">Choose</button>

<div *ngIf="openBankDetailsScreen">
  <app-bank-details [plan]="plan"></app-bank-details>
</div>
