<div *ngIf="isStillTrialTime" style="text-align: right ; margin-right: 40px;">
  <div *ngIf="foodPriceDataSource.filteredData.length">
    <p style="display: flex;">C'est votre plan familial: </p>
    <mat-tab-group>
      <mat-tab label="Les prix de la nourriture">
        <ng-template matTabContent>
          <app-family-food-price [dataSource]="foodPriceDataSource"></app-family-food-price>
        </ng-template>
      </mat-tab>
      <mat-tab label="Nutriments">
        <ng-template matTabContent>
          <app-family-nutrients [dataSource]="nutrientsQuantityDataSource"></app-family-nutrients>
        </ng-template>
      </mat-tab>
      <mat-tab label="Optimisation budgétaire">
        <ng-template matTabContent>
          <app-optimal-budget [dataSource]="taskDetailsDataSource"></app-optimal-budget>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

