<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="food">
      <th mat-header-cell *matHeaderCellDef> Nourriture</th>
      <td mat-cell
          *matCellDef="let allFoodsWithPricesForLoginInOwner"> {{allFoodsWithPricesForLoginInOwner.food}} </td>
    </ng-container>

    <ng-container matColumnDef="optimal price">
      <th mat-header-cell *matHeaderCellDef>{{this.optimalPriceHeader}}</th>
      <td mat-cell
          *matCellDef="let allFoodsWithPricesForLoginInOwner"> {{allFoodsWithPricesForLoginInOwner.optimalPrice | number}} $</td>
    </ng-container>

    <ng-container matColumnDef="member name">
      <th mat-header-cell *matHeaderCellDef>Nom de membre</th>
      <td mat-cell
          *matCellDef="let allFoodsWithPricesForLoginInOwner"> {{allFoodsWithPricesForLoginInOwner.memberName}} </td>
    </ng-container>

    <ng-container matColumnDef="plan period">
      <th mat-header-cell *matHeaderCellDef>Période du plan</th>
      <td mat-cell
          *matCellDef="let allFoodsWithPricesForLoginInOwner"> {{allFoodsWithPricesForLoginInOwner.planPeriod}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>
