<div>
  Votre mode d'essai est dû le: {{dueOn}}
</div>
<app-personal-food
  [isStillTrialTime]="isStillTrialTime"
  [foodPriceDataSource]="foodPriceDataSource"
  [nutrientsQuantityDataSource]="nutrientsQuantityDataSource"
  [taskDetailsDataSource]="taskDetailsDataSource">
</app-personal-food>

<app-family-food
  [isStillTrialTime]="isStillTrialTime"
  [foodPriceDataSource]="familyFoodPriceDataSource"
  [nutrientsQuantityDataSource]="familyNutrientsQuantityDataSource">
</app-family-food>

<div *ngIf="isStillTrialTime">
  <h2>Si vous voulez essayer un nouveau plan, cliquez sur le bouton ci-dessous!</h2>
  <button mat-raised-button color="primary" (click)="onNewMealDietButtonClick()">Créer</button>
</div>

<div *ngIf="!isStillTrialTime">
  <app-payment-method></app-payment-method>
</div>
