<h1>Commencez un period gratuit de 7 jours</h1>
<h3>Remplir le formulaire d'inscription</h3>

<form [formGroup]="formGroup">

  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Entrez votre nom complet</mat-label>
      <input formControlName="fullName" matInput placeholder="Stamat Stamatov">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrer votre Email</mat-label>
      <input formControlName="email" matInput placeholder="exemple@">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Entrez votre mot de passe</mat-label>
      <input formControlName="password" matInput [type]="isPasswordVisible ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="isPasswordVisible = !isPasswordVisible"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordVisible">
        <mat-icon>{{isPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirmer votre mot de passe</mat-label>
      <input formControlName="confirmPassword" matInput [type]="isPasswordVisible ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="isPasswordVisible = !isPasswordVisible"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordVisible">
        <mat-icon>{{isPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Rôle</mat-label>
      <input formControlName="role" matInput placeholder="User">
    </mat-form-field>
  </div>
  <div>
    <div>
    <mat-checkbox class="example-margin" (change)="onCheckboxStateChange($event)">J'ai lu et j'accepte les conditions d'utilisation, l'avis de confidentialité et les détails de l'offre</mat-checkbox>
    <p>Si vous n'êtes pas au courant des conditions, allez à ...</p>
    </div>
    <button mat-raised-button [disabled]="formGroup.invalid || !isCheckboxChecked" (click)="onSaveButtonClick()"
            class="btn btn-md btn-primary btn-style">Sauvegarder</button>
  </div>

</form>
