<div class="top-content">
  <div class="title-description">
    <h1>Welcome to HealthyEating application!</h1>
    <p>
      Take our Quiz to get a personal meal and to achieve your goals!
    </p>
    <h2>Good health starts with what you eat!</h2>
    <h2>
      Eat healthy and in the same time..
    </h2>
    <p>
      Optimize your budget! DO NOT waste big amount of money for food!
    </p>
    <button mat-raised-button color="accent" (click)="onButtonClick()">Start your Journey</button>
  </div>
  <div class="picture">
    <img
      class="home-page-image"
      src="https://i.ibb.co/VWBkR2h/home-image.webp"
      alt="healthy-eating-woman"/>
  </div>
</div>
