<div class="top-content">
  <div class="title-description">
    <h1>Bienvenue sur l'application HealthyEating!</h1>
    <p>
      Répondez à notre Quiz pour obtenir un repas personnel et atteindre vos objectifs !
    </p>
    <h2>Une bonne santé commence par ce que vous mangez !</h2>
    <h2>
      Mangez sainement et en même temps..
    </h2>
    <p>
      Optimisez votre budget ! NE PAS gaspiller de grosses sommes d'argent pour la nourriture!
    </p>
    <button mat-raised-button color="accent" (click)="onButtonClick()">Commencez votre voyage</button>
  </div>
  <div class="picture">
    <img
      class="home-page-image"
      src="https://i.ibb.co/VWBkR2h/home-image.webp"
      alt="healthy-eating-woman"/>
  </div>
</div>
