<div class="top-content">
  <div class="title-description">
    <h1>Good health starts with what you eat!</h1>
    <p>
      Take our Quiz to get a personal meal and to achieve your goals!
    </p>
    <h2>
      Eat healthy and in the same time..
    </h2>
    <p>
      Optimize your budget! DO NOT spend big amount of money when buying food!
    </p>
    <button mat-raised-button color="accent" (click)="onButtonClick()">Start your Journey</button>
  </div>
  <div class="picture">
    <img
      class="home-page-image"
      src="https://unimeal.com/_next/image?url=%2F_next%2Fstatic%2Fmedia%2Fhome-image.1c23dc6d.png&w=384&q=75"
      alt="healthy-eating-woman"/>
  </div>
</div>
