.mat-stepper-vertical {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}

.body-measurements {
  display: grid;
}

.stepper {
  margin-bottom: 50px;
}

.questions {
  display: flex;
  justify-content: center;
  gap: 5px
}
