<h2>Select your family members (2-4)</h2>
<mat-form-field class="input" appearance="fill">
  <mat-label>Select an option</mat-label>
  <mat-select (valueChange)="onValueChange($event)">
    <mat-option value="2">2 members</mat-option>
    <mat-option value="3">3 members</mat-option>
    <mat-option value="4">4 members</mat-option>
  </mat-select>
</mat-form-field>
<div style="display: contents;">
  <p>If you want to use your own food selection please slide toggle below!</p>
  <mat-slide-toggle [(ngModel)]="isChecked" (change)="onToggleChange()">Personal food</mat-slide-toggle>
</div>
<button style="margin-top: 1rem;" mat-raised-button type="submit" (click)="onDoneClick()">Continue</button>
