<div style="margin-bottom: 1rem">
  <p>If you want to use your own food selection please slide toggle below!</p>
  <mat-slide-toggle [(ngModel)]="isChecked">Personal food</mat-slide-toggle>
</div>
<mat-stepper class="stepper" orientation="vertical" [linear]="true" #stepper>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Select your gender</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="female">Female</mat-option>
          <mat-option value="male">Male</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Let's check your body measurements</ng-template>
      <div class="body-measurements">
        <mat-form-field appearance="fill">
          <mat-label>Current weight(kg)</mat-label>
          <input type="number" max="180" matInput placeholder="0 kg" formControlName="weight" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Age(years)</mat-label>
          <input type="number" max="80" matInput placeholder="0 years" formControlName="age" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Height (cm)</mat-label>
          <input type="number" max="240" matInput placeholder="0 cm" formControlName="height" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>What is your body type?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select formControlName="bodyType">
          <mat-option value="lean and long">Lean and long, fast metabolism</mat-option>
          <mat-option value="muscular">Muscular and well-built, average metabolism</mat-option>
          <mat-option value="soft">Soft and round, slow metabolism</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>What is your baseline activity level?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select formControlName="activity">
          <mat-option value="1">Not Active(more sitting)</mat-option>
          <mat-option value="2">Lightly Active(spend some time on your feet)</mat-option>
          <mat-option value="3">Active(doing some physical activity)</mat-option>
          <mat-option value="4">Very Active(doing heavy physical activity)</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Do you workout?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select formControlName="workout">
          <mat-option value="no">No, I don't</mat-option>
          <mat-option value="walks">Only walks</mat-option>
          <mat-option value="1-2">1-2 times a week</mat-option>
          <mat-option value="3-5">3-5 times a week</mat-option>
          <mat-option value="more than 5">More than 5 times a week</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Plan period</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Select me</mat-label>
        <mat-select formControlName="planPeriod">
          <mat-option value=1>Daily</mat-option>
          <mat-option value=7>Weekly</mat-option>
          <mat-option value=365>Yearly</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>We're done!</ng-template>
    <p>You successfully complete your personal quiz!</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="onDoneClick()">Done</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-stepper>
