<div *ngIf="doesUserHavePersonalFood" style="margin-bottom: 1rem">
  <p>Si vous souhaitez utiliser votre propre sélection d'aliments, veuillez faire glisser le bouton ci-dessous !</p>
  <mat-slide-toggle [(ngModel)]="isChecked">Nourriture personnelle</mat-slide-toggle>
</div>
<mat-stepper class="stepper" orientation="vertical" [linear]="true" #stepper>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Indiquez votre sexe</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Sélectionnez-moi</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="female">Femme</mat-option>
          <mat-option value="male">Homme</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Quel votre état physique</ng-template>
      <div class="body-measurements">
        <mat-form-field appearance="fill">
          <mat-label>Poids actuel (kg)</mat-label>
          <input type="number" max="180" matInput placeholder="75 kg" formControlName="weight">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Âge (ans)</mat-label>
          <input type="number" max="80" matInput placeholder="18 Âges" formControlName="age">
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Hauteur (cm)</mat-label>
          <input type="number" max="240" matInput placeholder="180 cm" formControlName="height">
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Retourner à l'arrier</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Quel est votre type de corps?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Sélectionnez-moi</mat-label>
        <mat-select formControlName="bodyType">
          <mat-option value="lean and long">Mince et long, bon métabolisme</mat-option>
          <mat-option value="muscular">Musclé, métabolisme moyen</mat-option>
          <mat-option value="soft">Doux et rond, métabolisme lent</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retourner à l'arrier</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Quel est votre niveau d'activité de base?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Sélectionnez-moi</mat-label>
        <mat-select formControlName="activity">
          <mat-option value="1">Non actif (plus assis)</mat-option>
          <mat-option value="2">Légèrement actif (passez du temps debout)</mat-option>
          <mat-option value="3">Actif (faire de l'activité physique)</mat-option>
          <mat-option value="4">Très actif (faire de l'activité physique intense)</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retourner à l'arrier</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Est-ce que tu fais du sport?</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Sélectionnez-moi</mat-label>
        <mat-select formControlName="workout">
          <mat-option value="no">Non</mat-option>
          <mat-option value="walks">Seulement des promenades</mat-option>
          <mat-option value="1-2">1 à 2 fois par semaine</mat-option>
          <mat-option value="3-5">3 à 5 fois par semaine</mat-option>
          <mat-option value="more than 5">Plus de 5 fois par semaine</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retourner à l'arrier</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="personalQuestionsFormGroup">
    <form [formGroup]="personalQuestionsFormGroup">
      <ng-template matStepLabel>Période du régime</ng-template>
      <mat-form-field appearance="fill">
        <mat-label>Sélectionnez-moi</mat-label>
        <mat-select formControlName="planPeriod">
          <mat-option value=1>Quotidien</mat-option>
          <mat-option value=7>Hebdomadaire</mat-option>
          <mat-option value=365>Annuel</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Retourner à l'arrier</button>
        <button mat-button matStepperNext>Suivant</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>D'accord!</ng-template>
    <p>Vous réussissez votre quiz personnel!</p>
    <div>
      <button mat-button matStepperPrevious>Retourner à l'arrier</button>
      <button mat-button (click)="onDoneClick()">Еnregistrer</button>
      <button mat-button (click)="stepper.reset()">Réinitialiser</button>
    </div>
  </mat-step>
</mat-stepper>
