<div class="toolbar">
  <div>
    <a href="">HealthyEating</a>
  </div>
  <div style="">
    <button mat-stroked-button (click)="onHomeAnchorClick()">Home</button>
    <button *ngIf="isUserLoggedIn" mat-stroked-button (click)="onProfileAnchorClick()">Profile</button>
    <button mat-stroked-button>Settings</button>
    <button mat-stroked-button>Help</button>
    <button *ngIf="isUserLoggedIn" mat-stroked-button (click)="onLogoutAnchorClick()">Logout</button>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
