<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>HealthyEating</span>
    <span class="spacer-between-icon"></span>

    <mat-menu #appMenu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item>Settings</button>
        <button mat-menu-item>Help</button>
      </ng-template>
    </mat-menu>
    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>menu</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
