<div class="toolbar">
  <div>
    <a href="">HealthyEating</a>
  </div>
  <div class="toolbar-buttons">
    <button mat-stroked-button (click)="onHomeAnchorClick()">Page d'accueil</button>
    <button *ngIf="!isUserLoggedIn" mat-stroked-button (click)="onLoginAnchorClick()">Accéder</button>
    <button *ngIf="isUserLoggedIn" mat-stroked-button (click)="onProfileAnchorClick()">Profil</button>
    <button mat-stroked-button (click)="onHelpAnchorClick()">Aide</button>
    <button *ngIf="isUserLoggedIn" mat-stroked-button (click)="onLogoutAnchorClick()">Se déconnecter</button>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>
