div {
  padding-left: 20px; /*sets 'padding'*/
  padding-right: 20px; /*sets 'padding'*/
  line-height: 20px; /*for this, it sets vertical alignment*/
  margin-bottom: 50px;
  //backdrop-filter: blur(2px);
}
