<div>
  <h2>Bienvenu!</h2>
  <h3>Nous allons commencer par quelques questions rapides afin que nous puissions personnaliser votre programme efficace pour vous.</h3>
  <button mat-raised-button color="primary" (click)="onButtonClick()">Commencer</button>
  <h3>Nous pouvons créer un forfait familial pour vous ?</h3>
  <button mat-raised-button color="primary" (click)="onFamilyPackageButtonClick()">Essayez-le</button>
  <h3>Ou voulez-vous essayer d'optimiser votre budget avec les aliments que vous avez sélectionnés ?</h3>
  <button mat-raised-button color="primary" (click)="onAddFoodButtonClick()">Essayez-le</button>
</div>
