<div>
  <h2>Welcome!</h2>
  <h3>We are gonna start with a few quick questions so we can customize your efficient program for you.</h3>
  <button mat-raised-button color="primary" (click)="onButtonClick()">Start</button>
  <h3>We can create family package for you?</h3>
  <button mat-raised-button color="primary" (click)="onFamilyPackageButtonClick()">Try it!</button>
  <h3>Or do you want to try to optimize your budget with your selected food?</h3>
  <button mat-raised-button color="primary">Try it!</button>
</div>
