<h2>Now you should login in your account</h2>

<form [formGroup]="formGroup">
  <div class="example-container">
    <mat-form-field appearance="fill" floatLabel="always">
      <mat-label>Enter your email</mat-label>
      <input type="text" formControlName="email" matInput placeholder="example@">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Enter your password</mat-label>
      <input formControlName="password" matInput [type]="isPasswordVisible ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="isPasswordVisible = !isPasswordVisible"
              [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isPasswordVisible">
        <mat-icon>{{isPasswordVisible ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div style="display: flex; justify-content: space-around">
    <button [disabled]="formGroup.invalid" mat-raised-button (click)="onLoginButtonClick()">Login</button>
    <button mat-raised-button (click)="onSignupButtonClick()">Signup for free</button>
  </div>

</form>
